<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PlantDbZero_ConnString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PlantDbZero;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" providerName="System.Data.SqlClient"/>
    <add name="PlantDbZero_String" connectionString="Server=(localdb)\MSSQLLocalDB;Database=PlantDbZero;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- DataSource Type: "Sql" or "DemoData" -->
    <add key="DataSource" value="Sql"/>
  </appSettings>
</configuration>